<!DOCTYPE html>
<html th:replace="fragmentos/disposicion_base :: pagina(~{::title/text()}, ~{::body/content()}, 'armas')" xmlns:th="http://www.thymeleaf.org">
	<title>Armas</title>
	<body>
		<h1 class="p-3 m-0">Armas</h1>
		<th:block th:switch="${#lists.isEmpty(armas)}">
			<p th:case="${true}">No hay armas en el sistema. ¡Prueba a registrar una nueva!</p>
			<table th:case="*" class="table table-sm table-dark table-striped table-bordered table-hover" data-toggle="table" data-pagination="true"
				data-search="true" data-search-accent-neutralise="true" data-search-highlight="true" data-search-on-enter-key="true" data-show-search-button="true"
				data-maintain-meta-data="true" data-show-export="true" data-show-columns="true" data-buttons-prefix="btn btn-secondary text-light">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Código de prueba</th>
						<th>Número de serie</th>
						<th>Número de licencia</th>
						<th>Coste estimado</th>
						<th>Número de altercados asociados</th>
						<th>Número de sucesos asociados</th>
						<th data-force-hide="true">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="arma : ${armas}">
						<td th:text="${arma.nombre}">M16</td>
						<td th:text="${#numbers.formatInteger(arma.codigoPrueba, 9)}">000000000</td>
						<th:block th:switch="${arma instanceof T(com.github.aggarcia3.altercadosi.entidades.ArmaRegistrada)}">
							<th:block th:case="${true}">
								<td th:text="${arma.numSerie}">1</td>
								<td th:text="${arma.numLicencia}">1</td>
							</th:block>
							<th:block th:case="*">
								<td>&ndash;</td>
								<td>&ndash;</td>
							</th:block>
						</th:block>
						<td th:text="${#numbers.formatCurrency(arma.costeEstimado)}">2.500,34 €</td>
						<td th:text="${#lists.size(arma.altercados)}">42</td>
						<th:block th:switch="${arma instanceof T(com.github.aggarcia3.altercadosi.entidades.ArmaRegistrada)}">
							<td th:case="${true}" th:text="${#lists.size(arma.sucesos)}">0</td>
							<td th:case="*">&ndash;</td>
						</th:block>
						<td>
							<ul class="lista-acciones p-0 m-0" role="presentation">
								<li><a class="btn btn-primary btn-sm" role="button" th:href="@{/armas/__${arma.codigoPrueba}__}"><i class="fas fa-eye"></i></a>
								<li><a class="btn btn-primary btn-sm" role="button" th:href="@{/armas/__${arma.codigoPrueba}__/editar}"><i class="fas fa-pencil-alt"></i></a>
								<li><a class="btn btn-primary btn-sm" role="button" th:href="@{/armas/__${arma.codigoPrueba}__/eliminar}"><i class="fas fa-trash-alt"></i></a>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</th:block>

		<a class="btn btn-primary m-3" role="button" th:href="@{/armas/crear}">Registrar</a>
	</body>
</html>
